* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: whitesmoke; */
}

#home {
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
}

.top_bar {
  width: 100%;
  height: 50px;
  background-color: black
}

.top_bar .icon {
  margin-left: 60px;
  padding: 10px;
  height: 100%;
  width: 30px;
  text-align: center;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.top_bar .address {
  width: 12%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.top_bar .address p {
  font-size: 18px;
  color: white;
}

.top_bar .p-icon {
  padding: 10px;
  height: 100%;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  /* background-color: blue; */
  float: left;
}

.top_bar .phone {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  color: white;
  float: left;
}

.top_bar .phone p {
  font-size: 18px;
  color: white;
  /* margin-top: 12px; */
  margin-left: 8px;
  font-family: 'Nunito', sans-serif;
}

.top_bar .icons{
  width: 22%;
  height: 100%;
  /* background-color: blue; */
  margin-left: 60px;
  float: right;
  display: flex;
  justify-content: end;
  padding-right: 60px;
}

.top_bar .icons .s-icon{
  width: 35px;
  height: 70%;
  margin-left: 10px;
  margin-top: 5px;
  /* border: 1px solid white; */
  background-color: brown;
  border-radius: 50%;
}

.fa-twitter {
  /* background: #55ACEE; */
  color: white;
  background-color: black;
}

.fa-facebook {
  /* background: #3B5998; */
  color: white;
  background-color: black;
}

.fa-linkedin {
  /* background: #007bb5; */
  color: white;
  background-color: black;
}

.fa-instagram {
  /* background: #125688; */
  background-color: black;
  color: white;
}

.fa-youtube {
  /* background: #bb0000; */
  color: white;
  background-color: black;
}

.top_bar .icons .s-icon a {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  line-height: 33px;
  float: left;
}

.h-div {
  width: 100%;
  height: 85vh;
  background-color: black;
  opacity: 0.7;
}

.home_main {
  width: 100%;
  margin-top: 0px;
  height: 85vh;
  /* background-color: aqua; */
  background-image: url(images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  position: relative;
}

.nav {
  width: 100%;
  height: 80px;
  float: left;
  background-color: white;
  position: absolute;
}



.nav .logo {
  width: 30%;
  height: 100%;
  /* background-color: black; */
  float: left;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.nav .logo span {
  font-size: 50px;
  color: rgb(118, 179, 28);
}

.nav .menu {
  width: 70%;
  height: 100%;
  padding-right: 50px;
  /* background-color: cadetblue; */
  float: left;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu ul {
  height: 100%;
  /* background-color: black; */
  margin-top: 30px;
}

.menu ul li {
  list-style: none;
  display: inline;
  /* background-color: red; */
  margin-left: 10px;
}

.menu ul li a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  text-align: right;
  margin-right: 20px;

}

.menu ul li .r-button {
  width: 140px;
  height: 60px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: rgb(118, 179, 28);
  border-radius: 40px;
  border: 1px solid white;
  padding-left: 20px;
}

.menu ul li button a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.heading {
  height: 40%;
  width: 60%;
  /* background-color: brown; */
  top: 50%;
  left: 30%;
  transform: translate(-10%, -25%);
  position: absolute;
  box-sizing: border-box;
}

.heading h1 {
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 20px;
}

.heading p {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 20px 10px 30px;
}

.heading input {
  height: 20%;
  width: 100%;
  border-radius: 30px;
  font-size: 22px;
  padding-left: 20px;
  border-color: white;
}

.heading .s-button {
  width: 140px;
  height: 60px;
  font-size: 22px;
  color: white;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(118, 179, 28);
  border-radius: 40px;
  border: none;
  /* border: 1px solid white; */
  margin-left: 40px;
  top: 47%;
  cursor: pointer;
  left: 84%;
  float: left;
  position: absolute;
}

#about {
  width: 100%;
  height: 90vh;
  /* background-color: aqua; */
}

#about .about-b {
  width: 45%;
  height: 80%;
  /* background-color: chocolate; */
  margin-left: 55px;
  margin-top: 20px;
  float: left;
  line-height: 50px;
  position: relative;
}

.about-b .about,
#services .s-sub {
  width: 350px;
  height: 60px;
  /* background-color: cornflowerblue; */
  position: relative;
}

.about-b .about .d-line {
  width: 60px;
  height: 4px;
  left: 50%;
  top: 26%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

.about-b .about .d-line2 {
  width: 88px;
  height: 2px;
  left: 50%;
  top: 52%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#about .about-b .about-img {
  width: 100%;
  height: 100%;
  float: left;
  background-color: coral;
}

#about .about-b .about-img img {
  width: 100%;
  height: 100%;

}

#about .about-b h5 {
  font-size: 30px;
  color: rgb(118, 179, 28);
}

#about .about-b h1 {
  font-size: 50px;
  color: rgb(27, 27, 59);
}

#about .about-b h1 span {
  font-size: 50px;
  color: rgb(118, 179, 28);
}

#about .about-b .p-about {
  font-size: 22px;
  line-height: 40px;
  color: gray;
}

#about .about-b .a-facility {
  width: 100%;
  height: 25%;
  /* background-color: black; */
}

#about .about-b .a-facility .f-about {
  width: 45%;
  height: 100%;
  /* background-color: yellow; */
  margin-right: 30px;
  margin-top: 40px;
  float: left;
}

#about .about-b .a-facility .f-about .f-icon {
  width: 100%;
  height: 30px;
  /* background-color: blue; */
}

#about .about-b .a-facility .f-about .f-icon .f-text i {
  font-size: 25px;
  color: rgb(118, 179, 28);
  margin-right: 20px;
  margin-top: 0px;
}

#about .about-b .a-facility .f-about .f-icon .f-text {
  width: 70%;
  /* background-color: white; */
  height: 100%;
  margin: 25px;
  margin-left: 0px;
  font-size: 22px;
  color: gray;
}

#about .about-b .read-m{
  width: 200px;
  height: 70px;
  background-color: rgb(118, 179, 28);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 25px;
}

#about .about-b .read-m a{
  color: white;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
}

/* ----------------------------------- */

#services {
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
}

#services .s-sub,
#destination .s-sub,
#package .s-sub,
#process .s-sub,
#team .s-sub,
#testimonial .s-sub {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  text-align: center;
  position: relative;
}

#services .s-sub h5,
#destination .s-sub h5,
#package .s-sub h5,
#process .s-sub h5,
#team .s-sub h5,
#testimonial .s-sub h5  {
  font-size: 25px;
  color: rgb(118, 179, 28);
}

#services .s-sub .r-line1,
#package .s-sub .r-line1,
#process .s-sub .r-line1{
  width: 60px;
  height: 2px;
  left: 54%;
  top: 20%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#services .s-sub .r-line2,
#package .s-sub .r-line2,
#process .s-sub .r-line2{
  width: 88px;
  height: 2px;
  left: 54%;
  top: 45%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#services .s-sub .l-line1,
#package .s-sub .l-line1,
#process .s-sub .l-line1{
  width: 60px;
  height: 2px;
  left: 43%;
  top: 20%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#services .s-sub .l-line2,
#package .s-sub .l-line2,
#process .s-sub .l-line2{
  width: 88px;
  height: 2px;
  left: 41.5%;
  top: 45%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#services .h-main,
#destination .h-main,
#package .h-main,
#process .h-main {
  width: 100%;
  height: 62px;
  /* background-color: cadetblue; */
}

#services .h-main h5,
#destination .h-main h5,
#package .h-main h5,
#process .h-main h5,
#team .h-main h5,
#testimonial .h-main h5  {
  font-size: 48px;
  color: rgb(27, 27, 59);
  text-align: center;
}

#services .d-service {
  width: 100%;
  height: 40%;
  /* background-color: black; */
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

#services .d-service .sub-b {
  width: 20%;
  height: 100%;
  margin-top: 50px;
  box-shadow: 0px 0px 20px gray;
  /* background-color: white; */
  /* margin: 10px; */
  padding: 20px;
}

#services .d-service .sub-b .s-icon {
  width: 65px;
  height: 58px;
  /* background-color: aqua; */
  text-align: center;
  margin-left: 20px;
}

#services .d-service .sub-b .s-icon i {
  color: rgb(118, 179, 28);
  font-size: 60px;
}

#services .d-service .sub-b h5 {
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(27, 27, 59);
}

#services .d-service .sub-b p {
  font-size: 25px;
  text-align: justify;
  color: gray;
}

/* -------------------------------------- */
#destination{
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
}

#destination .s-sub .r-line1,
#team .s-sub .r-line1,
#testimonial .s-sub .r-line1{
  width: 60px;
  height: 2.5px;
  left: 55%;
  top: 15%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#destination .s-sub .r-line2,
#team .s-sub .r-line2,
#testimonial .s-sub .r-line2{
  width: 88px;
  height: 2px;
  left: 55%;
  top: 45%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#destination .s-sub .l-line1,
#team .s-sub .l-line1,
#testimonial .s-sub .l-line1{
  width: 60px;
  height: 2.5px;
  left: 42%;
  top: 15%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#destination .s-sub .l-line2,
#team .s-sub .l-line2,
#testimonial .s-sub .l-line2{
  width: 88px;
  height: 2px;
  left: 40.5%;
  top: 45%;
  background-color: rgb(118, 179, 28);
  position: absolute;
}

#destination .container {
  width: 100%;
  height: 80vh;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#destination .container .l-div {
  width: 55%;
  height: 85%;
  /* background-color: aqua; */
  margin: 30px;
  /* margin-left: 50px; */
  /* margin-right: 20px; */
  float: left;
}

#destination .container .l-div .s-div {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  position: relative;
}

#destination .container .l-div .s-div .ss-div {
  width: 50%;
  height: 95%;
  float: left;
  position: relative;

}

#destination .container .l-div .s-div a img {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}

#destination .container .l-div .s-div .ss-div a img {
  width: 95%;
  height: 100%;
  background-size: cover;
}

#destination .container .r-div {
  width: 35%;
  height: 85%;
  position: relative;
  background-color: aqua;
  float: left;

}

#destination .container .r-div a img {
  width: 100%;
  height: 100%;
}

#destination .container .l-div .s-div .discount {
  background-color: white;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 4%;
  left: 2%;
  text-align: center;
  font-size: 20px;
}

#destination .container .l-div .s-div .place {
  background-color: white;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 4%;
  right: 2%;
  font-size: 20px;
  color: rgb(118, 179, 28);
  width: 150px;
  text-align: center;
}

#destination .container .r-div .discount1{
  background-color: white;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 2%;
  left: 2%;
  text-align: center;
  font-size: 20px;
}

#destination .container .r-div .place1{
  background-color: white;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 20px;
  color: rgb(118, 179, 28);
  width: 150px;
  text-align: center;
}

/* ------------------------------------- */
#package{
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
}

 #package .container {
  width: 100%;
  height: 90vh;
  /* background-color: antiquewhite; */
  padding-top: 20px;
}

#package .container .p-main{
  width: 30%;
  height:  90%;
  box-shadow: 0px 0px 15px;
  float: left;
  /* background-color: aqua; */
  /* margin-top: 0%; */
  margin-left: 50px;
}

#package .container .p-main .i-div{
  width: 100%;
  height: 52%;
  background-color: black;
  /* box-shadow: 0px 0px 15px; */
}

#package .container .p-main .i-div img{
  width: 100%;
  height: 100%;
}

#package .container .p-main .content{
  width: 100%;
  height: 60%;
  margin-top: -20px;
  /* background-color: blue; */
  position: relative;
  /* box-shadow: 0px 0px 15px; */
  /* padding: 20px; */
}

#package .container .p-main .content .p-info{
  width: 33.3%;
  height: 50px;
  /* background-color: blanchedalmond; */
  float: left;
  border: 1px solid gray;
}

#package .container .p-main .content .p-info .icon {
  margin-left: 30px;
  padding: 10px;
  height: 100%;
  width: 40px;
  font-size: 24px;
  /* background-color: blue; */
  float: left;
  color: rgb(118, 179, 28);
}

#package .container .p-main .content .p-info span{
  font-size: 22px;
  text-align: center;
  display: block;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-right: 25px;
}

#package .container .p-main .price{
  width: 100%;
  height: 90px;
  /* background-color: coral; */
  margin-top: 30px;
  float: left;
}

#package .container .p-main .price h3{
  font-size: 40px;
  text-align: center;
  
}

#package .container .p-main .price .star{
  text-align: center;
  font-size: 22px;
  color: rgb(118, 179, 28);
}

#package .container .p-main .content .txt{
  text-align: center;
  font-size: 24px;
  display: block;
  /* color: rgb(118, 179, 28); */
  /* border: 1px solid black; */
  margin: 20px;
  line-height: 40px;
}

#package .container .p-main .content .rm-button{
  width: 150px;
  height: 40px;
  background-color: rgb(118, 179, 28);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 0px; */
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  left: 28.5%;
  bottom: 31.5%;
}

#package .container .p-main .content .rm-button a{
  font-size: 22px;
  text-decoration: none;
  color: white;
}

#package .container .p-main .content .b-button{
  width: 150px;
  height: 40px;
  background-color: rgb(118, 179, 28);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  border-radius: 0px 50px 50px 0px;
  position: absolute;
  right: 12%;
  bottom: 31.5%;
}

#package .container .p-main .content .b-button a{
  font-size: 22px;
  text-decoration: none;
  color: white;
}
/* ----------------------------------------- */

#booking{
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
}

#booking .container {
  width: 85%;
  height: 70%;
  margin: auto;
  background-color: aqua;
  background-image: url(images/booking.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
}

#booking .container .b-box{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity:  0.6;
  
}

#booking .container .b-content{
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  padding: 40px;
  position: absolute;
  top: 0%;
  padding-top: 5%;
}

#booking .container .b-content h5{
  font-size: 25px;
  color: whitesmoke;
  
}

#booking .container .b-content h1, #booking .container .form h1{
  font-size: 60px;
  color: whitesmoke;
}

#booking .container .b-content p{
  font-size: 22px;
  color: whitesmoke;
  line-height: 40px;
}

#booking .container .b-content .read-m2 {
  width: 200px;
  height: 70px;
  background-color:transparent;
  border: 1px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

#booking .container .b-content .read-m2 a{
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
}

#booking .container .form{
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  padding-left: 40px;
  position: absolute;
  top: 0%;
  right: 0%;
  padding-top: 50px;
}

#booking .container .form input, #booking .container .form select{
  background-color: transparent;
  width: 355px;
  height: 75px;
  font-size: 22px;
  border: 1px solid white;
  padding: 30px;
}

#booking .container .form .f-input{
  background-color: transparent;
  width: 355px;
  height: 75px;
  font-size: 22px;
  border: 1px solid white;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

#booking .container .form textarea{
  background-color: transparent;
  font-size: 22px;
  border: 1px solid white;
  padding: 30px;
  margin-bottom: 20px;
}

#booking .container .form .sub-b{
  background-color: transparent;
  width: 745px;
  height: 75px;
  font-size: 22px;
  border: 1px solid white;
  color: whitesmoke;
  text-align: center;
}
/* ------------------------------------- */

#process{
  width: 100%;
  height: 70vh;
  /* background-color: brown; */
}

#process .m-div{
  width: 100%;
  height: 60%;
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
}

#process .m-div .b-process{
  width: 28%;
  height: 100%;
  /* background-color: blanchedalmond; */
  position: relative;
  border: 1px solid rgb(118, 179, 28);
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

#process .m-div .b-process .p-icon{
  width: 120px;
  height: 120px;
  background-color: rgb(118, 179, 28);
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  left: 37%;
}

#process .m-div .b-process .p-icon i{
  font-size: 65px;
  color: whitesmoke;
}

#process .m-div .b-process .heading{
  height: 48px;
  width: 100%;
  /* background-color: white; */
  position: absolute;
  top: 28%;
  left: 10%;
  padding: 10px;
}

#process .m-div .b-process .heading h5{
  text-align: center;
  font-size: 30px;
  color: rgb(27, 27, 59);
}

#process .m-div .b-process .h-line{
  width: 130px;
  height: 0.2px;
  background-color: rgb(199, 225, 161);
  position: absolute;
  top: 46%;
}

#process .m-div .b-process .h-line2{
  width: 250px;
  height: 1px;
  background-color: rgb(193, 230, 139);
  position: absolute;
  top: 48%;
}

#process .m-div .b-process .para{
  /* background-color: gray; */
  width: 100%;
  height: 35%;
  position: absolute;
  display: flex;
  vertical-align: middle;
  top: 55%;
  padding-left: 30px;
  padding-right: 30px;
}

#process .m-div .b-process .para p{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  color: gray;
}
/* --------------------------------------- */

#team{
  width: 100%;
  height: 80vh;
  /* background-color: brown; */
}

#team .t-main{
  width: 90%;
  height: 75%;
  /* background-color: aquamarine; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#team .t-main .p-team{
  width: 25%;
  height: 95%;
  /* background-color: beige; */
  margin: 20px;
  border: 1px solid gainsboro;
  position: relative;
  /* box-shadow: 0px 0px 5px; */
}

#team .t-main .p-team .t-img{
  width: 100%;
  height: 75%;
  background-color: blueviolet;
}

#team .t-main .p-team .t-img img{
  width: 100%;
  height: 100%;
}

#team .t-main .p-team .icons{
 width: 180px;
 height: 45px;
 /* background-color: yellow; */
 display: flex;
 justify-content: space-around;
 position: absolute;
 top: 70%;
 left: 30%;
}

#team .t-main .p-team .icons .s-icon{
  width: 50px;
  height: 100%;
  /* background-color: blue; */
  /* margin-right: 10px; */
  float: left;
}

#team .t-main .p-team .icons .s-icon a{
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  /* box-shadow: 0px 0px 15px rgb(118, 179, 28); */
  border-radius: 50%;
  height: 100%;
  width: 100%;
  line-height: 45px;
  background-color: white;
  color: rgb(118, 179, 28);
}

#team .t-main .p-team .t-name{
  width: 150px;
  height: 45px;
  font-size: 30px;
  text-align: center;
  /* background-color: gray; */
  position: absolute;
  color: rgb(27, 27, 59);
  top: 80%;
  left: 32%;
}

#team .t-main .p-team .designation{
  width: 350px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  /* background-color: gray; */
  position: absolute;
  color: rgb(27, 27, 59);
  top: 88%;
  left: 6%;
}
/* ------------------------------------------- */

#testimonial{
    width: 100%;
    height: 80vh;
    /* background-color: brown;  */
}

#testimonial .container{
  width: 90%;
  height: 70%;
  /* background-color: aqua; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#testimonial .container .t-div{
  width: 30%;
  height: 80%;
  background-color: white;
  position: relative;
  border: 1px solid gray;
}

#testimonial .container .t-div .img{
  width: 120px;
  height: 120px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: 37%;
  top: 8%;
}

#testimonial .container .t-div .img img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

#testimonial .container .t-div .name{
  width: 150px;
  height: 45px;
  font-size: 30px;
  text-align: center;
  /* background-color: gray; */
  position: absolute;
  color: rgb(27, 27, 59);
  top: 41%;
  left: 34%;
}

#testimonial .container .t-div .place{
  width: 180px;
  height: 35px;
  font-size: 24px;
  text-align: center;
  /* background-color: gray; */
  position: absolute;
  color: gray;
  top: 52%;
  left: 32%;
}

#testimonial .container .t-div .para{
 width: 100%;
 height: 120px;
 /* background-color: blueviolet; */
 position: absolute;
 top: 64%;
 padding-left: 20px;
 padding-right: 20px;
}

#testimonial .container .t-div .para p{
font-size: 22px;
text-align: center;
line-height: 40px;
color: gray;
margin-bottom: 50px;
}
/* ----------------------------------------------------- */

#footer{
  width: 100%;
  height: 60vh;
  background-color: rgb(16, 16, 43); 
}

#footer .f-main{
  width: 100%;
  height: 80%;
  /* padding: 30px; */
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: end;
}

#footer .f-main .f-div{
  width: 22%;
  height: 70%;
  float: left;
  /* background-color: rgb(16, 16, 43); */
  margin-bottom: 0px;
  margin: 10px;
  position: relative;
}

#footer .f-main .f-div h4{
  font-size: 32px;
  color: whitesmoke;
}

#footer .f-main .f-div ul li {
  list-style: none;
  /* display: inline; */
  /* background-color: red; */
  margin-top: 20px;
  margin-left: 10px;
}

#footer .f-main .f-div ul li a {
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}



.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin: 0px 10px 0px 0px ;
  
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#footer .f-div .icon {
  margin-left: 0%;
  padding: 10px;
  height: 30px;
  width: 35px;
  text-align: center;
  margin-top: 5px;
  /* background-color: blue; */
  float: left;
}

#footer .f-div .address {
  width: 300px;
  height: 30px;
  /* background-color: green; */
  /* margin-top: 10px; */
}

#footer .f-div .address p {
  font-size: 20px;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

#footer .f-div .p-icon {
  margin-left: 0%;
  padding: 10px;
  height: 30px;
  width: 35px;
  text-align: center;
  margin-top: 5px;
  /* background-color: blue; */
  float: left;
}

#footer .f-div .phone {
  width: 270px;
  height: 30px;
  /* background-color: green; */
  /* margin-top: 10px; */
}

#footer .f-div .phone p {
  font-size: 20px;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

#footer .f-div .icons{
  width: 250px;
  height: 48px;
  margin-top: 20px;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  /* position: absolute; */
  top: 70%;
  left: 30%;
 }
 
 #footer .f-div .s-icon{
   width: 75px;
   height: 100%;
   /* background-color: blue; */
   margin-right: 10px;
   float: left;
 }
 
 #footer .f-div .icons .s-icon a{
   font-size: 25px;
   text-decoration: none;
   text-align: center;
   /* box-shadow: 0px 0px 15px rgb(118, 179, 28); */
   border-radius: 50%;
   border: 1px solid whitesmoke;
   height: 100%;
   width: 100%;
   line-height: 45px;
   background-color: rgb(16, 16, 43);
   color: whitesmoke;
 }

 #footer .f-div .m-img{
  width: 100%;
  height: 30%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: start;
  margin-top: 30px;
  /* margin-bottom: 10px; */
 }

 #footer .f-div .m-img .img{
  width: 25%;
  height: 90%;
  background-color: whitesmoke;
  /* float: left; */
  margin-left: 10px;
  display: flex;
  justify-content: center;
 }

 #footer .f-div .m-img .img img{
  width: 90%;
  height: 85%;
  margin-top: 7px;
 }

 #footer .f-div .txt{
  width: 100%;
  height: 60px;
  /* background-color: rebeccapurple; */
  margin-top: 20px;
 }

 #footer .f-div .txt p{
  font-size: 22px;
  color: whitesmoke;
 }

 #footer .f-div input{
  /* background-color: transparent; */
  width: 400px;
  height: 75px;
  font-size: 22px;
  border: 1px solid rgb(118, 179, 28);
  margin-top: 20px;
  /* margin-bottom: 20px; */
  padding: 30px;
  /* position: relative; */
}

#footer .f-div .read-m{
  width: 120px;
  height: 60px;
  background-color: rgb(118, 179, 28);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  bottom: 37%;
  left: 63%;
  position: absolute;
}

#footer .f-div .read-m a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

#footer .bottom{
  width: 100%;
  height: 20%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-evenly;
}

#footer .bottom .b-main{
  width: 90%;
  height: 90%;
  background-color: rgb(16, 16, 43);
}

#footer .bottom .b-main .b-text{
  width: 50%;
  height: 100%;
  /* background-color: gray; */
  display: flex;
  justify-content: left;
  align-items: center;
  float: left;
}

#footer .bottom .b-main .b-text a{
  font-size: 22px;
  color: whitesmoke;
  text-decoration: none;
}

#footer .bottom .b-main .b-text span{
  font-size: 22px;
  color: whitesmoke;
}

#footer .bottom .b-main .ref{
  width: 50%;
  height: 100%;
  /* background-color: rgb(193, 230, 139); */
  float: left;
  display: flex;
  justify-content: end;
  align-items: center;
}

#footer .bottom .b-main .ref ul{
    list-style: none;
    display: inline;
    /* background-color: red; */
    /* margin-top: 20px; */
    margin-right: 40px;
   
}
  
#footer .bottom .b-main .ref ul li{
  display: inline;
  padding-left: 15px;
  border-right: 1px solid gray;
 
}

  #footer .bottom .b-main .ref ul li a{
    font-size: 22px;
    display: inline;
    color: whitesmoke;
    text-decoration: none;
    margin-right: 30px;
  } 


/* -------------------------------------------------- */

@media only screen and (max-width:380px){
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: whitesmoke; */
  }
  
  #home {
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
  }
  
  .top_bar {
    width: 100%;
    height: 150px;
    background-color: black;
    /* display: flex; */
    /* justify-content: flex-start; */
  }
  
  .top_bar .icon {
    padding: 0px;
    margin: 0px;
    height: 20%;
    width: 30px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    /* background-color: blue; */
    float: left;
  }
  
  .top_bar .address {
    width: 80%;
    height: 20%;
    line-height: 25px;
    /* background-color: green; */
    display: block;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    float: left;
  }
  
  .top_bar .address p {
    font-size: 18px;
    color: white;
    /* line-height: 25px; */
  }
  
  .top_bar .p-icon {
    padding: 0px;
    margin: 4px !important;
    height: 15% !important;
    width: 10%;
    z-index: 415245;
    text-align: center;
    /* background-color: blue; */
    float: left;
  }
  
  .top_bar .phone {
    width: 90%;
    height: 15%;
    margin-top: 5px;
    margin-left: -20px;
    display: block;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    color: white;
    float: left;
    margin-bottom: 10px;
  }
  .phone1{
    margin-left: 0px !important;
    float: left;
    width: 60% !important;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .p-phone1{
    float:  left !important;
    width: 7% !important;
    margin-bottom: 10px;
    /* background-color: red !important; */
  }
  .top_bar .phone p {
    font-size: 18px;
    color: white;
  }
  
  .top_bar .icons{
    width: 100%;
    height: 28%;
    margin-top: -10px;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
  }
  
  .top_bar .icons .s-icon{
    width: 30px;
    height: 80%;
    margin-left: 20px;
    /* background-color: brown; */
    border-radius: 50%;
  }
  
  .fa-twitter {
    /* background: #55ACEE; */
    color: white;
    /* background-color: black; */
  }
  
  .fa-facebook {
    /* background: #3B5998; */
    color: white;
    background-color: black;
  }
  
  .fa-linkedin {
    /* background: #007bb5; */
    color: white;
    background-color: black;
  }
  
  .fa-instagram {
    /* background: #125688; */
    background-color: black;
    color: white;
  }
  
  .fa-youtube {
    /* background: #bb0000; */
    color: white;
    background-color: black;
  }
  
  .top_bar .icons .s-icon a {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    line-height: 33px;
    float: left;
  }
  
  .h-div {
    width: 100%;
    height: 85vh;
    background-color: black;
    opacity: 0.7;
  }
  
  .home_main {
    width: 100%;
    margin-top: 0px;
    height: 85vh;
    /* background-color: aqua; */
    background-image: url(images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
  }
  
  .nav {
    width: 100%;
    height: 80px;
    float: left;
    background-color: white;
    position: absolute;
  }
  
  
  
  .nav .logo {
    width: 10%;
    height: 100%;
    background-color: black;
    float: left;
    /* display: flex; */
    /* align-items: center; */
    /* padding-left: 50px; */
  }
  
  .nav .logo span {
    font-size: 10px;
    color: rgb(118, 179, 28);
  }
  
  .nav .menu {
    width: 70%;
    height: 100%;
    padding-right: 50px;
    /* background-color: cadetblue; */
    float: left;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .menu ul {
    height: 100%;
    /* background-color: black; */
    margin-top: 30px;
  }
  
  .menu ul li {
    list-style: none;
    display: inline;
    /* background-color: red; */
    margin-left: 10px;
  }
  
  .menu ul li a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-align: right;
    margin-right: 20px;
  
  }
  
  .menu ul li .r-button {
    width: 140px;
    height: 60px;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(118, 179, 28);
    border-radius: 40px;
    border: 1px solid white;
    padding-left: 20px;
  }
  
  .menu ul li button a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  
  .heading {
    height: 40%;
    width: 60%;
    /* background-color: brown; */
    top: 50%;
    left: 30%;
    transform: translate(-10%, -25%);
    position: absolute;
    box-sizing: border-box;
  }
  
  .heading h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .heading p {
    font-size: 28px;
    color: white;
    text-align: center;
    padding: 20px 10px 30px;
  }
  
  .heading input {
    height: 20%;
    width: 100%;
    border-radius: 30px;
    font-size: 22px;
    padding-left: 20px;
    border-color: white;
  }
  
  .heading .s-button {
    width: 140px;
    height: 60px;
    font-size: 22px;
    color: white;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(118, 179, 28);
    border-radius: 40px;
    border: none;
    /* border: 1px solid white; */
    margin-left: 40px;
    top: 47%;
    cursor: pointer;
    left: 84%;
    float: left;
    position: absolute;
  }
  
  #about {
    width: 100%;
    height: 90vh;
    /* background-color: aqua; */
  }
  
  #about .about-b {
    width: 45%;
    height: 80%;
    /* background-color: chocolate; */
    margin-left: 55px;
    margin-top: 20px;
    float: left;
    line-height: 50px;
    position: relative;
  }
  
  .about-b .about,
  #services .s-sub {
    width: 350px;
    height: 60px;
    /* background-color: cornflowerblue; */
    position: relative;
  }
  
  .about-b .about .d-line {
    width: 60px;
    height: 4px;
    left: 50%;
    top: 26%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  .about-b .about .d-line2 {
    width: 88px;
    height: 2px;
    left: 50%;
    top: 52%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #about .about-b .about-img {
    width: 100%;
    height: 100%;
    float: left;
    background-color: coral;
  }
  
  #about .about-b .about-img img {
    width: 100%;
    height: 100%;
  
  }
  
  #about .about-b h5 {
    font-size: 30px;
    color: rgb(118, 179, 28);
  }
  
  #about .about-b h1 {
    font-size: 50px;
    color: rgb(27, 27, 59);
  }
  
  #about .about-b h1 span {
    font-size: 50px;
    color: rgb(118, 179, 28);
  }
  
  #about .about-b .p-about {
    font-size: 22px;
    line-height: 40px;
    color: gray;
  }
  
  #about .about-b .a-facility {
    width: 100%;
    height: 25%;
    /* background-color: black; */
  }
  
  #about .about-b .a-facility .f-about {
    width: 45%;
    height: 100%;
    /* background-color: yellow; */
    margin-right: 30px;
    margin-top: 40px;
    float: left;
  }
  
  #about .about-b .a-facility .f-about .f-icon {
    width: 100%;
    height: 30px;
    /* background-color: blue; */
  }
  
  #about .about-b .a-facility .f-about .f-icon .f-text i {
    font-size: 25px;
    color: rgb(118, 179, 28);
    margin-right: 20px;
    margin-top: 0px;
  }
  
  #about .about-b .a-facility .f-about .f-icon .f-text {
    width: 70%;
    /* background-color: white; */
    height: 100%;
    margin: 25px;
    margin-left: 0px;
    font-size: 22px;
    color: gray;
  }
  
  #about .about-b .read-m{
    width: 200px;
    height: 70px;
    background-color: rgb(118, 179, 28);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 25px;
  }
  
  #about .about-b .read-m a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
  }
  
  /* ----------------------------------- */
  
  #services {
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
  }
  
  #services .s-sub,
  #destination .s-sub,
  #package .s-sub,
  #process .s-sub,
  #team .s-sub,
  #testimonial .s-sub {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    text-align: center;
    position: relative;
  }
  
  #services .s-sub h5,
  #destination .s-sub h5,
  #package .s-sub h5,
  #process .s-sub h5,
  #team .s-sub h5,
  #testimonial .s-sub h5  {
    font-size: 25px;
    color: rgb(118, 179, 28);
  }
  
  #services .s-sub .r-line1,
  #package .s-sub .r-line1,
  #process .s-sub .r-line1{
    width: 60px;
    height: 2px;
    left: 54%;
    top: 20%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #services .s-sub .r-line2,
  #package .s-sub .r-line2,
  #process .s-sub .r-line2{
    width: 88px;
    height: 2px;
    left: 54%;
    top: 45%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #services .s-sub .l-line1,
  #package .s-sub .l-line1,
  #process .s-sub .l-line1{
    width: 60px;
    height: 2px;
    left: 43%;
    top: 20%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #services .s-sub .l-line2,
  #package .s-sub .l-line2,
  #process .s-sub .l-line2{
    width: 88px;
    height: 2px;
    left: 41.5%;
    top: 45%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #services .h-main,
  #destination .h-main,
  #package .h-main,
  #process .h-main {
    width: 100%;
    height: 62px;
    /* background-color: cadetblue; */
  }
  
  #services .h-main h5,
  #destination .h-main h5,
  #package .h-main h5,
  #process .h-main h5,
  #team .h-main h5,
  #testimonial .h-main h5  {
    font-size: 48px;
    color: rgb(27, 27, 59);
    text-align: center;
  }
  
  #services .d-service {
    width: 100%;
    height: 40%;
    /* background-color: black; */
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }
  
  #services .d-service .sub-b {
    width: 20%;
    height: 100%;
    margin-top: 50px;
    box-shadow: 0px 0px 20px gray;
    /* background-color: white; */
    /* margin: 10px; */
    padding: 20px;
  }
  
  #services .d-service .sub-b .s-icon {
    width: 65px;
    height: 58px;
    /* background-color: aqua; */
    text-align: center;
    margin-left: 20px;
  }
  
  #services .d-service .sub-b .s-icon i {
    color: rgb(118, 179, 28);
    font-size: 60px;
  }
  
  #services .d-service .sub-b h5 {
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(27, 27, 59);
  }
  
  #services .d-service .sub-b p {
    font-size: 25px;
    text-align: justify;
    color: gray;
  }
  
  /* -------------------------------------- */
  #destination{
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
  }
  
  #destination .s-sub .r-line1,
  #team .s-sub .r-line1,
  #testimonial .s-sub .r-line1{
    width: 60px;
    height: 2.5px;
    left: 55%;
    top: 15%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #destination .s-sub .r-line2,
  #team .s-sub .r-line2,
  #testimonial .s-sub .r-line2{
    width: 88px;
    height: 2px;
    left: 55%;
    top: 45%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #destination .s-sub .l-line1,
  #team .s-sub .l-line1,
  #testimonial .s-sub .l-line1{
    width: 60px;
    height: 2.5px;
    left: 42%;
    top: 15%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #destination .s-sub .l-line2,
  #team .s-sub .l-line2,
  #testimonial .s-sub .l-line2{
    width: 88px;
    height: 2px;
    left: 40.5%;
    top: 45%;
    background-color: rgb(118, 179, 28);
    position: absolute;
  }
  
  #destination .container {
    width: 100%;
    height: 80vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #destination .container .l-div {
    width: 55%;
    height: 85%;
    /* background-color: aqua; */
    margin: 30px;
    /* margin-left: 50px; */
    /* margin-right: 20px; */
    float: left;
  }
  
  #destination .container .l-div .s-div {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    position: relative;
  }
  
  #destination .container .l-div .s-div .ss-div {
    width: 50%;
    height: 95%;
    float: left;
    position: relative;
  
  }
  
  #destination .container .l-div .s-div a img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
  }
  
  #destination .container .l-div .s-div .ss-div a img {
    width: 95%;
    height: 100%;
    background-size: cover;
  }
  
  #destination .container .r-div {
    width: 35%;
    height: 85%;
    position: relative;
    background-color: aqua;
    float: left;
  
  }
  
  #destination .container .r-div a img {
    width: 100%;
    height: 100%;
  }
  
  #destination .container .l-div .s-div .discount {
    background-color: white;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 4%;
    left: 2%;
    text-align: center;
    font-size: 20px;
  }
  
  #destination .container .l-div .s-div .place {
    background-color: white;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 4%;
    right: 2%;
    font-size: 20px;
    color: rgb(118, 179, 28);
    width: 150px;
    text-align: center;
  }
  
  #destination .container .r-div .discount1{
    background-color: white;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 2%;
    left: 2%;
    text-align: center;
    font-size: 20px;
  }
  
  #destination .container .r-div .place1{
    background-color: white;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 20px;
    color: rgb(118, 179, 28);
    width: 150px;
    text-align: center;
  }
  
  /* ------------------------------------- */
  #package{
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
  }
  
   #package .container {
    width: 100%;
    height: 90vh;
    /* background-color: antiquewhite; */
    padding-top: 20px;
  }
  
  #package .container .p-main{
    width: 30%;
    height:  90%;
    box-shadow: 0px 0px 15px;
    float: left;
    /* background-color: aqua; */
    /* margin-top: 0%; */
    margin-left: 50px;
  }
  
  #package .container .p-main .i-div{
    width: 100%;
    height: 52%;
    background-color: black;
    /* box-shadow: 0px 0px 15px; */
  }
  
  #package .container .p-main .i-div img{
    width: 100%;
    height: 100%;
  }
  
  #package .container .p-main .content{
    width: 100%;
    height: 60%;
    margin-top: -20px;
    /* background-color: blue; */
    position: relative;
    /* box-shadow: 0px 0px 15px; */
    /* padding: 20px; */
  }
  
  #package .container .p-main .content .p-info{
    width: 33.3%;
    height: 50px;
    /* background-color: blanchedalmond; */
    float: left;
    border: 1px solid gray;
  }
  
  #package .container .p-main .content .p-info .icon {
    margin-left: 30px;
    padding: 10px;
    height: 100%;
    width: 40px;
    font-size: 24px;
    /* background-color: blue; */
    float: left;
    color: rgb(118, 179, 28);
  }
  
  #package .container .p-main .content .p-info span{
    font-size: 22px;
    text-align: center;
    display: block;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-right: 25px;
  }
  
  #package .container .p-main .price{
    width: 100%;
    height: 90px;
    /* background-color: coral; */
    margin-top: 30px;
    float: left;
  }
  
  #package .container .p-main .price h3{
    font-size: 40px;
    text-align: center;
    
  }
  
  #package .container .p-main .price .star{
    text-align: center;
    font-size: 22px;
    color: rgb(118, 179, 28);
  }
  
  #package .container .p-main .content .txt{
    text-align: center;
    font-size: 24px;
    display: block;
    /* color: rgb(118, 179, 28); */
    /* border: 1px solid black; */
    margin: 20px;
    line-height: 40px;
  }
  
  #package .container .p-main .content .rm-button{
    width: 150px;
    height: 40px;
    background-color: rgb(118, 179, 28);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 0px; */
    border-radius: 50px 0px 0px 50px;
    position: absolute;
    left: 28.5%;
    bottom: 31.5%;
  }
  
  #package .container .p-main .content .rm-button a{
    font-size: 22px;
    text-decoration: none;
    color: white;
  }
  
  #package .container .p-main .content .b-button{
    width: 150px;
    height: 40px;
    background-color: rgb(118, 179, 28);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    right: 12%;
    bottom: 31.5%;
  }
  
  #package .container .p-main .content .b-button a{
    font-size: 22px;
    text-decoration: none;
    color: white;
  }
  /* ----------------------------------------- */
  
  #booking{
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
  }
  
  #booking .container {
    width: 85%;
    height: 70%;
    margin: auto;
    background-color: aqua;
    background-image: url(images/booking.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
  }
  
  #booking .container .b-box{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:  0.6;
    
  }
  
  #booking .container .b-content{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    padding: 40px;
    position: absolute;
    top: 0%;
    padding-top: 5%;
  }
  
  #booking .container .b-content h5{
    font-size: 25px;
    color: whitesmoke;
    
  }
  
  #booking .container .b-content h1, #booking .container .form h1{
    font-size: 60px;
    color: whitesmoke;
  }
  
  #booking .container .b-content p{
    font-size: 22px;
    color: whitesmoke;
    line-height: 40px;
  }
  
  #booking .container .b-content .read-m2 {
    width: 200px;
    height: 70px;
    background-color:transparent;
    border: 1px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  #booking .container .b-content .read-m2 a{
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
  }
  
  #booking .container .form{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    padding-left: 40px;
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 50px;
  }
  
  #booking .container .form input, #booking .container .form select{
    background-color: transparent;
    width: 355px;
    height: 75px;
    font-size: 22px;
    border: 1px solid white;
    padding: 30px;
  }
  
  #booking .container .form .f-input{
    background-color: transparent;
    width: 355px;
    height: 75px;
    font-size: 22px;
    border: 1px solid white;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px;
  }
  
  #booking .container .form textarea{
    background-color: transparent;
    font-size: 22px;
    border: 1px solid white;
    padding: 30px;
    margin-bottom: 20px;
  }
  
  #booking .container .form .sub-b{
    background-color: transparent;
    width: 745px;
    height: 75px;
    font-size: 22px;
    border: 1px solid white;
    color: whitesmoke;
    text-align: center;
  }
  /* ------------------------------------- */
  
  #process{
    width: 100%;
    height: 70vh;
    /* background-color: brown; */
  }
  
  #process .m-div{
    width: 100%;
    height: 60%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
  }
  
  #process .m-div .b-process{
    width: 28%;
    height: 100%;
    /* background-color: blanchedalmond; */
    position: relative;
    border: 1px solid rgb(118, 179, 28);
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  #process .m-div .b-process .p-icon{
    width: 120px;
    height: 120px;
    background-color: rgb(118, 179, 28);
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20%;
    left: 37%;
  }
  
  #process .m-div .b-process .p-icon i{
    font-size: 65px;
    color: whitesmoke;
  }
  
  #process .m-div .b-process .heading{
    height: 48px;
    width: 100%;
    /* background-color: white; */
    position: absolute;
    top: 28%;
    left: 10%;
    padding: 10px;
  }
  
  #process .m-div .b-process .heading h5{
    text-align: center;
    font-size: 30px;
    color: rgb(27, 27, 59);
  }
  
  #process .m-div .b-process .h-line{
    width: 130px;
    height: 0.2px;
    background-color: rgb(199, 225, 161);
    position: absolute;
    top: 46%;
  }
  
  #process .m-div .b-process .h-line2{
    width: 250px;
    height: 1px;
    background-color: rgb(193, 230, 139);
    position: absolute;
    top: 48%;
  }
  
  #process .m-div .b-process .para{
    /* background-color: gray; */
    width: 100%;
    height: 35%;
    position: absolute;
    display: flex;
    vertical-align: middle;
    top: 55%;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #process .m-div .b-process .para p{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: gray;
  }
  /* --------------------------------------- */
  
  #team{
    width: 100%;
    height: 80vh;
    /* background-color: brown; */
  }
  
  #team .t-main{
    width: 90%;
    height: 75%;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  #team .t-main .p-team{
    width: 25%;
    height: 95%;
    /* background-color: beige; */
    margin: 20px;
    border: 1px solid gainsboro;
    position: relative;
    /* box-shadow: 0px 0px 5px; */
  }
  
  #team .t-main .p-team .t-img{
    width: 100%;
    height: 75%;
    background-color: blueviolet;
  }
  
  #team .t-main .p-team .t-img img{
    width: 100%;
    height: 100%;
  }
  
  #team .t-main .p-team .icons{
   width: 180px;
   height: 45px;
   /* background-color: yellow; */
   display: flex;
   justify-content: space-around;
   position: absolute;
   top: 70%;
   left: 30%;
  }
  
  #team .t-main .p-team .icons .s-icon{
    width: 50px;
    height: 100%;
    /* background-color: blue; */
    /* margin-right: 10px; */
    float: left;
  }
  
  #team .t-main .p-team .icons .s-icon a{
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    /* box-shadow: 0px 0px 15px rgb(118, 179, 28); */
    border-radius: 50%;
    height: 100%;
    width: 100%;
    line-height: 45px;
    background-color: white;
    color: rgb(118, 179, 28);
  }
  
  #team .t-main .p-team .t-name{
    width: 150px;
    height: 45px;
    font-size: 30px;
    text-align: center;
    /* background-color: gray; */
    position: absolute;
    color: rgb(27, 27, 59);
    top: 80%;
    left: 32%;
  }
  
  #team .t-main .p-team .designation{
    width: 350px;
    height: 45px;
    font-size: 22px;
    text-align: center;
    /* background-color: gray; */
    position: absolute;
    color: rgb(27, 27, 59);
    top: 88%;
    left: 6%;
  }
  /* ------------------------------------------- */
  
  #testimonial{
      width: 100%;
      height: 80vh;
      /* background-color: brown;  */
  }
  
  #testimonial .container{
    width: 90%;
    height: 70%;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #testimonial .container .t-div{
    width: 30%;
    height: 80%;
    background-color: white;
    position: relative;
    border: 1px solid gray;
  }
  
  #testimonial .container .t-div .img{
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 37%;
    top: 8%;
  }
  
  #testimonial .container .t-div .img img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
  }
  
  #testimonial .container .t-div .name{
    width: 150px;
    height: 45px;
    font-size: 30px;
    text-align: center;
    /* background-color: gray; */
    position: absolute;
    color: rgb(27, 27, 59);
    top: 41%;
    left: 34%;
  }
  
  #testimonial .container .t-div .place{
    width: 180px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    /* background-color: gray; */
    position: absolute;
    color: gray;
    top: 52%;
    left: 32%;
  }
  
  #testimonial .container .t-div .para{
   width: 100%;
   height: 120px;
   /* background-color: blueviolet; */
   position: absolute;
   top: 64%;
   padding-left: 20px;
   padding-right: 20px;
  }
  
  #testimonial .container .t-div .para p{
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  color: gray;
  margin-bottom: 50px;
  }
  /* ----------------------------------------------------- */
  
  #footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(16, 16, 43); 
  }
  
  #footer .f-main{
    width: 100%;
    height: 80%;
    /* padding: 30px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  #footer .f-main .f-div{
    width: 22%;
    height: 70%;
    float: left;
    /* background-color: rgb(16, 16, 43); */
    margin-bottom: 0px;
    margin: 10px;
    position: relative;
  }
  
  #footer .f-main .f-div h4{
    font-size: 32px;
    color: whitesmoke;
  }
  
  #footer .f-main .f-div ul li {
    list-style: none;
    /* display: inline; */
    /* background-color: red; */
    margin-top: 20px;
    margin-left: 10px;
  }
  
  #footer .f-main .f-div ul li a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
  }
  
  
  
  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: 0px 10px 0px 0px ;
    
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  #footer .f-div .icon {
    margin-left: 0%;
    padding: 10px;
    height: 30px;
    width: 35px;
    text-align: center;
    margin-top: 5px;
    /* background-color: blue; */
    float: left;
  }
  
  #footer .f-div .address {
    width: 300px;
    height: 30px;
    /* background-color: green; */
    /* margin-top: 10px; */
  }
  
  #footer .f-div .address p {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    margin-right: 10px;
  }
  
  #footer .f-div .p-icon {
    margin-left: 0%;
    padding: 10px;
    height: 30px;
    width: 35px;
    text-align: center;
    margin-top: 5px;
    /* background-color: blue; */
    float: left;
  }
  
  #footer .f-div .phone {
    width: 270px;
    height: 30px;
    /* background-color: green; */
    /* margin-top: 10px; */
  }
  
  #footer .f-div .phone p {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    margin-right: 10px;
  }
  
  #footer .f-div .icons{
    width: 250px;
    height: 48px;
    margin-top: 20px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    top: 70%;
    left: 30%;
   }
   
   #footer .f-div .s-icon{
     width: 75px;
     height: 100%;
     /* background-color: blue; */
     margin-right: 10px;
     float: left;
   }
   
   #footer .f-div .icons .s-icon a{
     font-size: 25px;
     text-decoration: none;
     text-align: center;
     /* box-shadow: 0px 0px 15px rgb(118, 179, 28); */
     border-radius: 50%;
     border: 1px solid whitesmoke;
     height: 100%;
     width: 100%;
     line-height: 45px;
     background-color: rgb(16, 16, 43);
     color: whitesmoke;
   }
  
   #footer .f-div .m-img{
    width: 100%;
    height: 30%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: start;
    margin-top: 30px;
    /* margin-bottom: 10px; */
   }
  
   #footer .f-div .m-img .img{
    width: 25%;
    height: 90%;
    background-color: whitesmoke;
    /* float: left; */
    margin-left: 10px;
    display: flex;
    justify-content: center;
   }
  
   #footer .f-div .m-img .img img{
    width: 90%;
    height: 85%;
    margin-top: 7px;
   }
  
   #footer .f-div .txt{
    width: 100%;
    height: 60px;
    /* background-color: rebeccapurple; */
    margin-top: 20px;
   }
  
   #footer .f-div .txt p{
    font-size: 22px;
    color: whitesmoke;
   }
  
   #footer .f-div input{
    /* background-color: transparent; */
    width: 400px;
    height: 75px;
    font-size: 22px;
    border: 1px solid rgb(118, 179, 28);
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding: 30px;
    /* position: relative; */
  }
  
  #footer .f-div .read-m{
    width: 120px;
    height: 60px;
    background-color: rgb(118, 179, 28);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    bottom: 37%;
    left: 63%;
    position: absolute;
  }
  
  #footer .f-div .read-m a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
  }
  
  #footer .bottom{
    width: 100%;
    height: 20%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
  }
  
  #footer .bottom .b-main{
    width: 90%;
    height: 90%;
    background-color: rgb(16, 16, 43);
  }
  
  #footer .bottom .b-main .b-text{
    width: 50%;
    height: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: left;
    align-items: center;
    float: left;
  }
  
  #footer .bottom .b-main .b-text a{
    font-size: 22px;
    color: whitesmoke;
    text-decoration: none;
  }
  
  #footer .bottom .b-main .b-text span{
    font-size: 22px;
    color: whitesmoke;
  }
  
  #footer .bottom .b-main .ref{
    width: 50%;
    height: 100%;
    /* background-color: rgb(193, 230, 139); */
    float: left;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  #footer .bottom .b-main .ref ul{
      list-style: none;
      display: inline;
      /* background-color: red; */
      /* margin-top: 20px; */
      margin-right: 40px;
     
  }
    
  #footer .bottom .b-main .ref ul li{
    display: inline;
    padding-left: 15px;
    border-right: 1px solid gray;
   
  }
  
    #footer .bottom .b-main .ref ul li a{
      font-size: 22px;
      display: inline;
      color: whitesmoke;
      text-decoration: none;
      margin-right: 30px;
    } 
  













}